html {
    font-size: 18px;
}
.wf-loading body {
	visibility: hidden;
}
.wf-active body {
	visibility: visible
}
body {
	margin: 0 auto;
	min-height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	color: #171a21;
	background: #fbfbfb;
}
p,a {
    line-height: 1.4;
    margin-top: 0;
}
a {
    z-index: 4;
}
p:last-of-type {
    margin-bottom:0;
}
@media screen and (min-width: 1023px){
    .lede {
        font-size: 1.1rem;
    }
}

header {
    text-align: center;
    max-width: 720px;
    height: 230px;
    margin-top: calc(50vh - 100px);
    margin-bottom: calc(50vh - 100px);
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    color: #323944;
    background: #fbfbfb;
}
h1 {
    font-weight: 400;
    font-size: 7rem;
    letter-spacing: 1px;
    margin: 0;
}
header p {
    font-weight: 300;
    font-size: 42px;
    word-spacing: 5px;
    margin: 0;
}
h2 {
    text-shadow: 1px 1px #c3c3c3;
    margin-bottom: 15px;
    color: #323944;
    font-size: 3rem;
}
@media only screen and (max-width: 767px) {
    header {
        max-width: 390px;
    }
    h1 {
        font-size: 3.3rem;
    }
    header p {
        font-size: 1.5rem;
    }
}
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
}

section {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    max-width: 480px;
}

@media only screen and (min-width: 768px) {
    .wrap {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .wrap {
        max-width: 1024px;
    }
}

footer {
    font-size: 8px;
    width: 100%;
    text-align: right;
}

footer a {
    color: #323944;
}

/* Images */
.image-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.image-cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* Cards */
.card {
    display: flex;
    box-sizing: border-box;
    position: relative;
}
@media only screen and (min-width: 480px) {
    .card {
        margin-bottom: 30px;
    }
}

h3 {
    display: inline-block;
    font-size: 3em;
    line-height: 1;
    color: white;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    text-shadow: 2px 5px #333a43;
    width: 100%;
    transition: opacity 300ms ease-in-out;
}

.one-third,
.two-thirds,
.full {
    flex-basis: 100%;
    flex-flow: column;
}

@media only screen and (min-width: 768px) {
    .one-third {
        flex-flow: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1024px) {
    .one-third {
        flex-basis: 32.333%;
        flex-flow: column;
    }
    .two-thirds {
        flex-basis: 64.666%;
    }
}

/* intros */
#web-developer .intro {
    padding: 30px;
    background-color:#edc04b;
    font-size: 1rem;
    flex-flow: column;
    margin-bottom: 60px
}
#rabble-rouser .intro {
    padding: 40px;
    background-color:#323944;
    font-size: 1rem;
    color: #fbfbfb;
}
#journalist .intro {
    padding: 30px;
    background-color:#323944;
    font-size: 1rem;
    color: #fbfbfb;
}

@media screen and (min-width:768px){
    #journalist h2{
        text-align: right;
    }
}
@media only screen and (min-width: 1024px) {
    #web-developer .intro {
        margin-bottom: 30px
    }
    #web-developer h2 {
        margin-left: 35%;
    }
    #journalist h2 {
        width: 64.666%;
        text-align: right;
    }
}

/* Sites */
.site {
    width: 100%;
    flex-flow: column;
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.panel-back {
    width: 100%;
    height: auto;
}

.panel-front {
    width: 100%;
    overflow: scroll;
}

.site img {
    display: block;
    width: 100%;
}

#eos .panel-back {
    background-color:#fff;
}

#ginseng .panel-back {
    background-color:#4cb7e0
}

#eos p,
#eos h4,
#eos a {
    color:#323944;
}

#ginseng .panel-back p,
#ginseng .panel-back h4 {
    color: #171a21;
}

.site a {
    display: inline-block;
    color: #171a21;
    text-decoration: underline;
    margin-top: 20px;
}

.site a:hover {
    font-style: italic;
}

.inner-site {
    width: auto;
    margin-left: auto;
    padding: 30px;
}

.inner-site h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

@media screen and (min-width:768px){
    .site {
        flex-flow: row;
        height: 340px;
    }
    .site .panel-front {
        height: 340px;
    }

}

@media screen and (min-width:1024px){
    .site {
        height: 360px;
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        z-index: 6;
    }

    .site .panel-back {
        width: 100%;
        height: 360px;
        background-color:#4cb7e0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .site .panel-front {
        width: 100%;
        overflow: scroll;
        height: 360px;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        transition: right 300ms ease-in-out;  
    }

    .site:hover .panel-front {
        right: 365px;
        max-height: 100%;
    }

   .inner-site {
        width: 300px;
    } 
    .panel-back {
        height: 100%;
    }
}

.panel-cover {
    display: none;
}

@media screen and (min-width:1024px){
    .panel-cover {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        left: 0;
        transition: left 300ms ease-in-out; 
    }

    .site:hover .panel-cover{
        left: 100%;
    }

    .panel-cover img {
        max-width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #ginseng .panel-cover {
        background: #414143;
    }

    #eos .panel-cover {
        background: #ffffff;
    }
}


/* AtomicKiki */
#atomickiki {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
#atomickiki .inner-site h4 {
    margin-top: 20px
}

#atomickiki .inner-site a{
   color: #fbfbfb;

}
#atomickiki .inner-site span {
    font-size: 1.2rem;
}
#atomickiki .panel-front {
    order: 1;
    overflow: scroll;
/*    height: 350px;*/
}
#atomickiki .panel-back {
    order: 2;
    background-color:#323944;
    color: #fbfbfb;
}

@media screen and (min-width:768px){
    #atomickiki { 
        justify-content: flex-end;
        height: 100%;
        max-width: inherit;
    }
    #atomickiki .wrap {
        display: flex;
    }
    #atomickiki .panel-front {
        height: 100%;
        width: 50%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        transition: none;  
    }
/*    #atomickiki .panel-back {
        width: 50%;
    }*/
    #atomickiki .inner-site {
        width: calc(50% - 60px);
    }
}

@media screen and (min-width:1024px){
    #atomickiki {
        height: 100%;
        padding: 0;
        margin-top: 60px;
/*        min-height: 480px;*/
    }
    #atomickiki .wrap {
        max-width: inherit;
    }
    #atomickiki .panel-front {
        width: 66.666%;
        max-height: inherit; 
    }
    #atomickiki .panel-back {
        height: 100%;
        position: relative; 
    }
    #atomickiki .inner-site {
        width: calc(33.333% - 60px);
        padding: 30px;
        height: 100%;
    }
}

/* excerpts */
.excerpt:hover {
    z-index: 2;
    transition-delay: 300ms
}

/* NXIVM */
#nxivm h3 {
    z-index: 4;
    position: absolute;
    bottom: 0;
}

#nxivm .image-cover img {
    z-index: 1;
    max-height: 600px;
}

#nxivm .excerpt-front {
    display: flex;
    flex:1;
    position: relative;
    height: 600px;
}

#nxivm .excerpt-inner {
    margin: 30px;
}

#nxivm .excerpt-back {
/*    flex-basis: 40%;*/
    background: #000000;
    color: #fbfbfb;
}

@media only screen and (min-width: 768px){
    #nxivm .excerpt-front {
        height: 100%;
        flex: 0 0 55%;
    }
    #nxivm .excerpt-back {
        flex-basis: 42%;
    }
    #nxivm .image-cover img {
         max-height: 500px;
    }
    #nxivm .excerpt-inner {
        margin: 28px;
    }
}

@media only screen and (min-width: 1024px) {
    #nxivm .excerpt-front {
        flex: 1;
    }
    #nxivm .excerpt-inner {
        margin: 30px;
        overflow: hidden;
    }
    #nxivm .excerpt-back {
        transition: transform 300ms ease-in-out; 
        position: absolute;
        max-width: 500px;
        width: 100vw;
        display: flex;
        height: 100%;
    }

    #nxivm:hover,
    #nxivm:hover .excerpt-front {
        z-index: 7;
    }

    #nxivm:hover .excerpt-back {
        transform: translate(calc(-100%), 0);
        z-index: 6;
    }
    #nxivm .image-cover img {
        max-height: 400px;
    }
    #nxivm h3 {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    #nxivm:hover h3 {
        opacity: .9;
    }
}

/* GOP */
#gop .excerpt-front{
    background-color: #edc04b;
    z-index: 2;
/*    height: 100%;*/
    order: 2;
}

#gop .excerpt-back {
    position: relative;
    height: 1025px;
    order: 1;
}

#gop .card-inner{
    margin: 30px;
    text-align:left;
}

#gop .image-cover img {
    max-height: 1025px;
}

#gop h3 {
    position: absolute;
    opacity: 1;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

@media only screen and (min-width: 767px) {
    #gop .excerpt-front{
        order: 1;
        height: 100%;
        display: flex;
        flex: 0 0 55%;
        position: relative;
    }

    #gop .excerpt-back {
        order: 2;
        height: 100%;
        display: flex;
        flex: 0 0 42%;
        position: relative;
    }

    #gop .image-cover img {
        max-height: 550px
    }

    #gop .image-cover img {
        max-height: 680px;
    }

    #gop .image-cover img {
        top: 52%;
    }
}

@media only screen and (min-width: 1024px) {
    #gop .excerpt-back {
        width: 260px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transition: left 300ms ease-in-out;
        z-index: 1;
    }
    #gop:hover {
        z-index: 6;
    }
    #gop:hover .excerpt-back {
        left: 100%;
        z-index: 6;
    }
    #gop:hover .excerpt-back a {
        z-index: 6;
    }
    #gop:hover .excerpt-front {
        z-index: 7;
    }
    #gop .excerpt-front{
        flex: 1;
    }
    #gop .image-cover img {
        top:47%;
    }
}

/* Apostle */
#apostle {
    background-color: #4cb7e0;
}

#apostle .card-inner {
    margin: 30px;
}

#apostle h3 {
    transition: opacity 300ms ease-in-out;
    z-index: 4;
    position: absolute;
}

#apostle .excerpt-back {
    height: 570px;
    position: relative;
}

#apostle .image-cover img {
    max-height: 570px
}

@media only screen and (min-width: 768px) {
    #apostle .excerpt-back {
        height: 450px;
        display: flex;
        flex: 1;
        position: relative;
    }
    #apostle .image-cover img {
        max-height: 580px;
    }
}

@media only screen and (min-width: 1024px) {
    #apostle h3 {
        opacity: 0;
    }
    #apostle:hover h3 {
        opacity: .9;
    }
    #apostle .excerpt-back {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }
    #apostle:hover .excerpt-back {
        opacity: 1;
    }
    #apostle .image-cover img {
        max-height: 500px
    }
}

/* overlay */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.inactive .overlay {
    opacity: .9;
    visibility: visible;
    z-index: 4;
}

/* Kitty */ 
.kitty {
    text-align: center;
    margin-top: calc(50vh - 100px);
    margin-bottom: calc(50vh - 100px);
    animation-name: spin;
    animation-duration: 300s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    overflow: hidden;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.kitty img {
    height: 200px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.email {
    text-align: center;
    margin: 50px;
}
.email p {
    margin:0;
}